

.main-form {
    width: 450px;
    margin: center;
}

.image {
    margin: 20px auto;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


#about-img {
    float: left;
    margin: 0 20px 10px 0s
    
}

.block {
    padding: 30px;
    margin-bottom: 30px;
}

